html, body {
  margin: 0;
  position: relative;
  color: #ffffff;
  font-family: 'Squada One', cursive;
  overflow-x: hidden; 
  overflow-y: hidden; 

  div.container {
    background-color: black;
    height: 38px;
    min-width: 270px;
    position: absolute;
    top: 0;
    right: -20px;
    transform: skewX(45deg);

    .time-word {
      color: white;
      display: inline-block;
      font-size: 36px;
      margin-right: 200px;
      right: -30px;
      position: relative;
      padding-right: 50px;
      transform: skewX(-45deg);
    }

    div.inner-container {
      background-color: black;
      display: flex;
      justify-content: flex-end;
      height: 54px;
      min-width: 180px;
      position: absolute;
      right: 10px;
      transform: none;
     
      .stopwatch {
        background-color: #000000;
        display: inline-block;
        font-size: 50px;
        padding-right: 40px;
        margin-left: 20px;
        transform: skewX(-45deg);
      }
    }

  }

}

