html, body {
  margin: 0;
  position: relative;
  color: #ffffff;
  font-family: 'Squada One', cursive;

 .time-word {
   font-size: 36px;
   position: absolute;
   z-index: 999;
   right: 160px;
 }

 .stopwatch {
   background-color: #000000;
   font-size: 50px;
   position: absolute;
   z-index: 999;
   right: 16px;
   padding-left: 10px;
 }
}

